body {
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.regular-video-visible {
  display: flex
}

.regular-video-invisible {
  display: none
}

.modal-container-invisible {
  display: none
}

.modal-container-visible {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: solid black;
  padding: -10%, 0, -10%, 0;
  z-index: 9999;
  max-height: 80vh;
  background-color: white;
  border-radius: 0.25rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header > a {
  margin: 20px;
}

.background {
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/221047/pexels-photo-221047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

.op {
  opacity: 0.9;
  /* z-index: 1; */
}

.cat-container, .modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secret-cat {
  max-width: 100%;
  max-height: 60%;
}

.modal-text {
  flex-direction: column;
}

.no-underline {
  text-decoration: none;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
}